@font-face {
  font-family: iA;
  src: url(fonts/iAWriterMonoS-Regular.woff2);
}


body {
  margin-top: 5%;
  margin-left: 10%;
  background-color: ##f7f7f7;
  font-family: 'Rubik', 'Helvetica', sans-serif;
}

section h1 {
  text-align: left;
  font-family: 'Rubik', 'Helvetica', sans-serif;
}

section h2 {
  text-align: left;
  font-size: 3rem;
  font-family: 'Rubik', 'Helvetica', sans-serif;
}
